.App {
  display: flex;
    height: 100vh;
    width: 50%;
    margin:auto;
    background-color:rgb(189, 66, 66) ;
    /* background-color: black; */
    flex-direction: column;
    text-align: center;
    color:white;
}


