.lap{        
    display: flex;          
    flex:1;
    justify-content: center;  
    flex-direction: column;
    background-color: rgb(211, 139, 139);
}
.title {    
    font-size: 2rem;
    color:rgba(0, 0, 0, 0.5);
    font-weight: bold;
    background-color: rgb(211, 139, 139);    
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px;
}
.lap-values {    
    color:blue;
    overflow-y:scroll;
    background-color:white;
    height: 100%;
    border: 3px solid blueviolet;
    height: 310px;
}