.stop-watch  {
    display: flex;
    height: 70%;
    width: 100%;
    margin:auto;        
}

.left-window {    
    flex: 1.5;    
    background-color: rgb(211, 139, 139);
    display: flex;
    flex-direction: column;
}

.right-window {
    flex: 1;
    background-color: white;    
}